@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f1f6fc31;
}
section,footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px  20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.637);
}
@keyframes animate-outline {
    from{
        outline: 0px solid rgba(0, 0, 0, 0.486);
    }
    to{
        outline: 15px solid rgba(0, 0, 0, 0.048)
    }
}
header{
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    width: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: rgba(0, 0, 0, 0.637);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 100px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text h2{
    font-size: 30px;
    color: #ffffffd8;
    font-weight: lighter;
    margin: 18px 0;
}
#adote{
    background-image: url(Imagens/fundo3.jpg);
    background-size: 100%;
    height: 1000px;
}
.caixa {
    width: 300px; 
    height: 300px;
    margin-left: 30px;
    background-color: #cfcfcfe1; 
    float: left; 
    margin-right: 20px; 
    border-radius: 10px;
    border-style: dashed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
    margin-top: 20px;
}
.caixa img{
    float: left;
    margin-right: 10px;
}
.caixa h2{  
    margin-top: 30px;
}
.caixa p{
    color: black;
    margin-top: 10px;
}
.caixa .btn{
    margin-top: 70px;
}
.gatos{
    border-radius: 50%;
    padding: 10px;
    width: 150px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
.footer img{
    width: 25px;
    margin-right: 10px;
}
.footer p{
    margin-top: 10px;
    color: white;
}
.footer a{
    color: white;
    text-decoration: none;
}
#adote h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: -10px;
}
#sobre h1{
    font-size: 50px;
    text-align: center;
    margin-top: -30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#sobre p{
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 24px;
    font-weight: 400;
    padding: 0px 20px 20px 20px;
    margin-right: 70px;
    margin-left: 70px;
}